@import "includes/variables";
@import "includes/mixin";
@include google-font("Alegreya+Sans");
@include google-font("Titllium+Web");
/**/

@include fancy-links;
body {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: $headline-font;
}

p {
    font-family: $text-font;
}

a {
    
}

.warning-button {
    @include warning;
    padding: 8px 12px;
}

#header {
    //@include box(20px, 10px solid #123456);
    //if we just want to pass border only i.e explicitly pass value
    @include box($border: 3px solid #123456);
    background-color: $theme-color;
    @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color,2px 2px 12px $ternary-color) color: $menu-item-color;
    height: $header-height;
    #main-menu {
        li {
            display: inline;
        }
        a {
            color: $menu-item-color;
        }
    }
    #logo {}
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: $content-width;
    #content {}
    #sidebar {}
}

#footer {
    background-color: $ternary-color;
    height: $footer-height;
}