/**/
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titllium+Web);
/**/
a {
  color: #f27731;
  font-style: italic;
  text-decoration: none; }

body {
  font-family: sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: "Titllium Web"; }

p {
  font-family: "Alegreya Sans"; }

.warning-button {
  background-color: orange;
  color: #fff;
  padding: 8px 12px; }

#header {
  border-radius: 6px;
  border: border;
  background-color: #170148;
  box-shadow: 2px 0px 4px #999, 1px 1px 6px #f27731, 2px 2px 12px #ccf962;
  -moz-box-shadow: 2px 0px 4px #999, 1px 1px 6px #f27731, 2px 2px 12px #ccf962;
  -webkit-box-shadow: 2px 0px 4px #999, 1px 1px 6px #f27731, 2px 2px 12px #ccf962;
  color: white;
  height: 60px; }
  #header #main-menu li {
    display: inline; }
  #header #main-menu a {
    color: white; }

#main {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

#footer {
  background-color: #ccf962;
  height: 90px; }
