@mixin google-font($font) {
    $font: unquote($font);
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin warning {
    background-color: orange;
    color: #fff;
}

//we can use as var agrs like java
@mixin box-shadow($shadows...) {
    box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
}

@mixin large-text {
    font: {
        size: 22px;
        weight: bold;
    }
}

@mixin rounded($radius) {
    border-radius: $radius;
}

// Passing default value if not passed from calling file
@mixin box($radius: 6px, $border: 1px solid #333) {
    @include rounded($radius);
    border: border;
}

@mixin fancy-links {
    a {
        color: $link-color;
        font-style: italic;
        text-decoration: none;
    }
}