$bodycolor: #123456;
$bodyfont:"arial";
$text-color: #222222;
$theme-color: #170148;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color:$secondary-color;
$menu-item-color:white;
$text-font: 'Alegreya Sans';
$headline-font: 'Titllium Web';
$content-width:960px;
$header-height:60px;
$footer-height:90px;

/**/